* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  line-height: 1.42857;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}

.ticket__content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 5px;
}

.ticket__item {
  position: relative;
}

.ticket__item::after {
  content: '';
  border-right: 1px solid rgba(238, 238, 238, 0.88);
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.ticket__item:hover {
  cursor: pointer;
}

.ticket__item--content {
  height: 80px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket__item--content button {
  width: 100%;
}

.ticket__dropdow {
  width: max-content;
  margin: -15px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;
}

.ticket__dropdow ul {
  list-style: none;
  margin: 0;
}

.ticket__dropdow ul li {
  margin: 0;
  padding: 10px 15px;
}

.ticket__dropdow ul li p {
  margin: 0;
}

.ticket__dropdow ul li a {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.ticket__dropdow ul li:hover {
  background-color: #60c5ef;
}

.ticket__dropdow ul li:hover a {
  color: #fff;
}

.ticket__show--drop {
  display: block;
}

.showTimes {
  padding: 30px 0;
}

.showTimes .colum {
  border: 1px solid #ebebec;
  padding: 0;
}

.showTimes .nav-tabs {
  border: none;
}

.showTimes .nav-tabs .nav-item {
  width: 100%;
  position: relative;
  padding: 10px;
}

.showTimes .nav-tabs .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 30px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTimes .nav-tabs .active {
  border: none;
}

.showTimes .nav-tabs .link-tab {
  padding: 10px 20px;
}

.showTimes .nav-tabs .nav-link {
  width: 100%;
  color: #333;
  padding-left: 0;
  padding-right: 0;
}

.showTimes .nav-tabs .nav-link:focus, .showTimes .nav-tabs .nav-link:hover {
  border: none;
}

.showTimes .nav-tabs .nav-link img {
  width: 100%;
  display: block;
}

.showTimes .nav-tabs .nav-item-after {
  position: relative;
}

.showTimes .showTime__cinema--branch {
  display: flex;
  width: 100%;
}

.showTimes .showTime__cinema--branch .showTime__cinema--img {
  width: 30%;
  padding: 5px 20px;
}

.showTimes .showTime__cinema--branch .showTime__cinema--img img {
  width: 100%;
}

.showTimes .showTime__cinema--branch .showTime--branch-text {
  width: 70%;
}

.showTimes .showTime__cinema--branch .showTime--branch-text .full--adress {
  margin-bottom: 0;
  color: #949494;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.showTimes .showTime__cinema--branch .showTime--branch-text .cinema--name {
  color: #fb4226;
  font-size: 16px;
  font-weight: 400;
}

.showTimes .showTime__cinema--branch .showTime--branch-text .cinem-adress {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.showTimes .showTime__cinema--branch .showTime--branch-text a {
  color: #fb4226;
}
/*# sourceMappingURL=main.css.map */