.movie__content .nav-item .nav-link{
    font-size: 25px;
    text-align: center;
    border: none;
    margin: 20px ;
    text-align: center;
    color: $color-black-1;
}
.movie__content .nav-item .nav-link:hover{
    font-size: 27px;
    transition: all 0.5s;
}
.movie__content .nav-item .nav-link:focus{
    color: $color-organe-0;
}
.movie__content .myTab .nav {
    border-bottom: none;
}
.movie__more{
    display: grid ;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);   
}
.movie__content .myTab ul{
    width: 30%;
    margin: 0 auto;
}
.movie__content .nav-item {
    margin: 0 auto;
}
.owl-prev span{
    @include styleOwl($color-gray-1,150px,$fw-light);
    left: 0;
    padding: 0;
    bottom: 45%;
}
.owl-next span{
    @include styleOwl($color-gray-1,150px,$fw-light);
    right: 0;
    padding: 0;
    bottom: 45%;
}
.movie__content .owl-theme .owl-dots .owl-dot {
    opacity: 0;
}
.movie__content .tab-content .container {
    padding-left: 50px;
    padding-right: 50px;
}
.movie__content .movie__more .movie__items {
    margin: 12px;
    position: relative;
}
.movie__content .movie__more {
    border: none;
}
.movie__content .movie__more .movie__items img {
    border-radius: 5px;

}
.movie__content .movie__more .movie__items span{
    border: 1px solid $color-organe-0;
    background-color: $color-organe-0;
    color: $color-white-0;
    border-radius: 5px;
    padding: 0 10px;
}
.movie__content .movie__more .movie__items h4 {
    margin-top: 10px;
    font-size: $fs-2;
}

.movie__content .movie__more .movie__time {
    font-size: $fs-0;
    margin-bottom: 8px;
    margin-top: 15px;
}
.movie__content .movie__more .movie__review i{
    font-size: 7px;
    color: $color-organe-0;
}
.movie__content .movie__more .movie__review p {
    margin: 0;
}
.movie__content .movie__more .movie__review .movie__point {
    font-size: 20px;
}
.movie__content .movie__more .movie__review{
    background-color: rgba(12,27,54,.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 1.1;
}
.movie__content .movie__more .movie__buy a{
    // color: $color-white-0;
    // background-color: $color-organe-0;
    // border: $color-organe-0;
    // width: 100px;
    // height: 42px;
    // border-radius: 5px;
    // transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to left,#fb4226,#ce3017 100%);
    text-decoration: none;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.2s;
}
.movie__content .movie__more .movie__buy i{
    margin-bottom: 100px;
    color: $color-white-0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid $color-white-1;
    border-radius: 50%;
    height: 60px;
    text-align: center;
    width: 60px;
    transform: translate(-50%,-50%);
    padding-top: 20px;
    padding-left: 8px;  
    opacity: 0;
    transition: all 0.2s;
}
.movie__content .movie__more .movie__buy{
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 100%;
    height: 200px;
}
.movie__content .movie__more .movie__items:hover .go{
    opacity: 1;
}
.movie__content .movie__more .movie__items:hover a{
    opacity: 1;
}
.movie__content .movie__more .movie__items:hover .minute{
    opacity: 0;
}

