.showTimes {
    padding: $pd-4 0;
    .colum {
        border: 1px solid #ebebec;
        padding: 0;
    }
    .nav-tabs{
        border: none;
        .nav-item{
            width: 100%;
            position: relative;
            padding: 10px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: calc(100% - 30px);
                transform: translateX(-50%);
                border-bottom: 1px solid #fff;
                border-color: rgba(238, 238, 238, 0.88);
            }
        }
        .active {
            border: none;;
        }
        .link-tab{
            padding: $pd-1 $pd-3;
        }
        .nav-link {
            width: 100%;
            color: $color-black-0;
            padding-left: 0;
            padding-right: 0;
            &:focus,&:hover{
                border: none;
            }
            img {
                width: 100%;
                display: block;
            }
        }
        .nav-item-after{
            position: relative;
        }
    } 
    .showTime__cinema--branch{
        display: flex;
        width: 100%;
        .showTime__cinema--img{
            width: 30%;
            padding: $pd-0 $mg-3;
            img{
                width: 100%;
            }
        }
        .showTime--branch-text {
            width: 70%;
            .full--adress {
                margin-bottom: 0;
    
                @include styleText($color-gray-2,$fs-1,$fw-normal);
    
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .cinema--name{
                @include styleText($color-organe-0,$fs-2,$fw-bold-0);
            }
            .cinem-adress{
                @include styleText($color-black-0,$fs-2,$fw-bold-1);
            }
            a{
                color: $color-organe-0;
            }
        }
    }
}
